.comment {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  justify-items: center;
  border: var(--border);
  border-radius: 25px;
  box-shadow: 4px 4px var(--alternate);
  padding: 10px;
  margin: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
  object-fit: cover;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 5px;
}

.commentDetails {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  font-size: 16px;
  margin: 10px;
}

.dateVotes {
  justify-self: stretch;
  align-self: center;

  font-size: 14px;
  font-style: bold;
  grid-column: 1/3;
  grid-row: 1/2;
  color: var(--dark);
  margin: 10px 0px;
}

.userSays {
  grid-column: 1/2;
  grid-row: 2/3;
  font-weight: bold;
  justify-self: stretch;
}
.commentBody {
  margin-top: 10px;
  font-size: 18px;
  justify-self: start;
  grid-column: 1/3;
  grid-row: 3/4;
}
.commentVotes {
  grid-column: 4/5;
  align-self: center;
  display: grid;
}

.likeButton {
  font-size: large;
  width: 30px;
  height: 30px;
  margin: 2px;
  align-self: center;
}
