.comment {
  display: flex;
  width: 100%;
  border: 2px solid black;
  margin: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
  object-fit: cover;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.commentDetails {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 15px;
  margin-left: 10px;
}

.dateVotes {
  font-size: 12px;
  font-style: bold;
  color: grey;
  margin: 10px 0px;
}

.commentBody {
  margin-top: 10px;
  font-size: 18px;
  flex-direction: column;
}
.commentVotes {
  align-self: flex-end;
}
