/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} */

/* Change the link color to #111 (black) on hover */
/* li a:hover {
  background-color: #111;
}

.about {
  float: right;
} */
/* 
.header {

} */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 10px;
}

li.search-container {
  display: flex;
  align-items: center;
}

input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

button[type="submit"] {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

.width-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: rgb(95, 108, 221);
  padding-bottom: 5px;
  padding-top: 5px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 80px;
}

.nav-listitem {
  cursor: pointer;
  color: white;
}

.nav-listitem:hover {
  color: rgb(0, 0, 0);
}

.nav-listitem:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: white;
}

.nav-listitem:hover:after {
  width: 100%;
}
