/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} */

/* Change the link color to #111 (black) on hover */
/* li a:hover {
  background-color: #111;
}

.about {
  float: right;
} */
/* 
.header {

} */
.logo-hamburger-container {
  display: flex;
}
.logo-img {
  display: block;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 10px;
}

li.search-container {
  display: flex;
  align-items: center;
}

input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

button[type="submit"] {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

.width-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: rgb(95, 108, 221);
  padding-bottom: 5px;
  padding-top: 5px;
}

.nav-container {
  display: none;
}

.nav-listitem {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.nav-listitem:hover {

  color: rgb(0, 7, 10);
}
.hamburgericon {
  display: flex;
  padding-right: 2rem;
  align-items: center;
  padding-left: 2rem;
}
.hamburgersvg:hover {
  fill: #dd3ab7;
}
.showMenu {
  position: absolute;
  top: 8rem;
  left: 6%;
  width: 88%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  border: 1px solid black;
  z-index: 9;
}
.showMenu .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;
  padding: 3.6rem 0;
}
.showMenu .menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
}
.hideMenu {
  display: none;
}
.ham-listitem {
  cursor: pointer;
  color: rgb(241, 74, 3);
  text-decoration: none;
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .nav-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 80px;
  }
  .logo-img {
    display: block;
  }
  .hamburgericon {
    display: none;
  }

}
