
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
body,
html {
  font-family: "Lato", sans-serif;
}

/* Leaflet */


.leaflet-container {
  padding: 10%;
  margin: 20px;
  width: 80vw;
  height: 80vh;
}


.leaflet-popup-content-wrapper .leaflet-popup-content {
  height: auto;
  width: auto;

  font-size: 2rem;

  display: flex;

  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

