:root {
  --dark: #051f28;
  --mid: #33909c;
  --highlight: #d7f5f7;
  --alternate: #6cb6ce;
  --emphasis: #d59b6e;
  --border: solid 0.2rem black;
}

* {
  margin: 0;

  /* display: flex; */
  place-items: center;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem var(--primary-theme-colour);
}

html {
  font-size: 62.5%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  background-color: rgb(234, 234, 234);
  font-size: 1.6rem;
}
