.Location {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  padding: 2rem;
  background-color: var(--highlight);
}

.DetailsSection {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.ImgBox {
  height: 30rem;
  width: 30rem;

  margin-bottom: 1rem;

  overflow: hidden;

  border: var(--border);

  filter: drop-shadow(7px 6px 0px var(--alternate));
}

.Img {
  height: 100%;
  object-fit: cover;
}

.LocalAuthority {
  align-self: flex-start;
}

.Details {
  width: 100%;

  border: var(--border);
  padding: 1rem;

  align-self: flex-start;

  cursor: pointer;
}

details {
  background-color: var(--mid);
  color: var(--highlight);
  filter: drop-shadow(7px 6px 0px var(--alternate));
}

p {
  margin-top: 1rem;
}

.Risk_Summary {
  width: 100%;

  margin-top: -1.8rem;

  display: flex;
  justify-content: space-between;

  padding: 0 2rem;
}

.Risk_Summary_alert {
  height: 2rem;
  width: 2rem;

  border-radius: 50%;
  border: var(--border);
}

.Risk_Summary_alert__false {
  background-color: green;
}

.Risk_Summary_alert__true {
  background-color: red;
}
